<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/fontawesome.css">
        {% block extracss %}
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body {% block bodyprop %}{% endblock %}>
        {% include "component/navbar.html" %}
        {% include "component/sidebar.html" %}
        {% block body %}{% endblock %}
        <script src="/static/js/jquery-3.6.0.min.js"></script>
        <script src="/static/js/socket.io.min.js"></script>
        <script src="/static/js/script.js"></script>
        {% block extrajs %}
        {% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
