a {
  color: #2b83e7;
}

.nav-booru {
  background: linear-gradient(48deg, #e12eae, #a618d6);
  color: white !important;
}
@media (max-width: 720px) {
  .nav-booru .nav-expandable {
    background: #d84dba !important;
  }
}
.nav-booru .nav-title, .nav-booru .nav-title * {
  color: white !important;
}
.nav-booru .nav-item:not(.disabled) {
  color: white !important;
  cursor: pointer;
}
.nav-booru .nav-item:not(.disabled):hover:not(.disabled) {
  background: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 0.5rem;
}
@media (min-width: 720px) {
  .list-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 960px) {
  .list-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1120px) {
  .list-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1440px) {
  .list-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

.galery-image > .card-header {
  padding: 0.125rem 0.25rem;
}
.galery-image > .card-header * {
  font-size: 10pt;
}

#page-stat {
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  #page-stat {
    flex-grow: 1;
    padding-left: 0 !important;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .order-xsm-last {
    order: 5;
    flex-grow: 1;
    margin-top: 0.5rem;
    margin-right: 0 !important;
  }
}

@media (max-width: 480px) {
  .fs-xsm {
    font-size: 11pt;
  }
}

@media (max-width: 480px) {
  .grow-xsm {
    flex-grow: 1;
  }
}

.booru-tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: white;
  border: 2px gray solid;
  background-color: #242424;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.booru-tag:hover {
  text-decoration: underline;
}
.booru-tag.tag-type {
  border: 2px #30b656 solid;
  background-color: #2e8711;
}
.booru-tag.tag-artist {
  border: 2px #307cb6 solid;
  background-color: #0e2570;
}
.booru-tag.tag-artpack {
  border: 2px #7a30b6 solid;
  background-color: #541076;
}
.booru-tag.tag-comic {
  border: 2px #b230b6 solid;
  background-color: #761068;
}
.booru-tag.tag-oc {
  border: 2px #b6307e solid;
  background-color: #871134;
}
.booru-tag.tag-category {
  border: 2px #a9a8a8 solid;
  background-color: #4f4e4e;
}

.img-display {
  max-width: 100%;
}

.markup .quote {
  color: #1cbf1c;
}
.markup .quote .spoiler:hover, .markup .quote .spoiler:focus {
  color: #209d20;
}
.markup .spoiler {
  background-color: black;
  color: black;
}
.markup .spoiler a {
  background-color: #176ac8;
  color: #176ac8;
}
.markup .spoiler a:hover, .markup .spoiler a:focus {
  color: white;
}
.markup .spoiler:hover, .markup .spoiler:focus {
  color: white;
}
.markup .img-container {
  display: inline-flex;
  width: unset;
}
.markup .img-tiny {
  width: 64px;
  height: 64px;
}
.markup .img-small {
  width: 64px;
  height: 64px;
}
.markup .img-medium {
  width: 64px;
  height: 64px;
}
.markup .img-large {
  width: 64px;
  height: 64px;
}

.galery-image > a {
  position: relative;
  display: block;
}
.galery-image > a > .webm-bar {
  position: absolute;
  z-index: 15;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.25rem;
}/*# sourceMappingURL=booru.css.map */