$shadow: #00000069;

$primary: #2b83e7;
$secondary: #818181;
$warning: #e9a321;
$danger: #ce4848;
$success: #46b842;
$info: #22b979;

$pink: #d84dba;
$darkblue: #4b43b4;

$size-xlarge: 1440px;
$size-large: 1120px;
$size-medium: 960px;
$size-small: 720px;
$size-portrait: 480px;

.list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;

    @media (min-width: $size-small) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $size-medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $size-large) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $size-xlarge) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.card {
    display: grid;
    grid-template-rows: 200px 1fr;
    align-items: stretch;

    // a {
    //     display: block;
    //     text-decoration: none;
    // }

    &-image {
        overflow: hidden;
        background-color: $darkblue;
    }

    &-content {
        display: grid;
        grid-template-rows: auto 1fr auto 50px;

        > .title {
            color: lighten($warning, 10%);
            line-height: 1.05;
            text-decoration: none;

            > .name {
                color: lighten($warning, 10%);
                text-decoration: none;
            }
        }

        > .description {
            font-size: 10pt;
            color: rgb(228, 228, 228);
        }

        > .status {
    
            > .date {
                color: white;
                font-size: 10pt;
            }
    
            > .stat {
                color: white;
                font-size: 10pt;
            }
        }
    }
}

.ratio {
    position: relative;
    display: block;
    background-color: $secondary;
    border-radius: 10px;
    overflow: hidden;
    font-size: 10pt;
    color: white;

    > .image {
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0px;
        width: 50%;
        background-color: $success;
    }

    > .value {
        display: block;
        text-align: center;
        z-index: 5;
        position: relative;
    }
}

.tag {
    margin-top: 4px;

    &-item {
        font-size: 10pt;
        font-weight: bold;
        padding: 1px 4px;
        margin-top: 4px;
        border-radius: 10px;
        display: inline-block;
        text-decoration: none;
    }
}

.cyoa-info {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: 0 1rem 1rem;

    @media (max-width: $size-portrait) {
        grid-template-columns: 1fr;
        padding: 0 .5rem 0.5rem;
    }

    > .image {
        border: 2px solid $secondary;
        max-height: 425px;

        &.saved {
            border: 2px solid $success;
        }
    }

    > .info {
        padding: 0 .75rem;

        @media (max-width: $size-portrait) {
            padding: 0 .1rem;
        }

        > .title {
            line-height: 1.05;
            margin-bottom: 0.5rem;
            color: lighten($color: $warning, $amount: 10%);

            @media (max-width: $size-portrait) {
                margin-top: 0.5rem;
                font-size: 18pt;
            }

            > .tag-item {
                font-size: 14pt;
                padding: 0.4rem;
                margin-top: 0;

                @media (max-width: $size-portrait) {
                    font-size: 12pt;
                    padding: 0.2rem;
                }
            }
        }

        > .stat {
            margin-top: 0.25rem;
        }

        > .ratio {
            font-size: 11pt;
            padding: 0.1rem;
        }
    }
}