{% extends "base.html" %}
{% block title %}CYOA Browser - Index{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/cyoa.css">
{% endblock extracss %}
{% block body %}
    <div class="bg-darkblue">
        <div class="container-lg bg-d10-darkblue py-2">
            <h1 class="text-center">CYOA List</h1>
            <hr class="mb-2">
            <form class="d-block mx-2" action="/cyoa">
                <h2>Filter</h2>
                <input class="form-control w-100" name="q" type="text" placeholder="Search tag, title">
                <div class="control-group mt-1">
                    <a href="/cyoa?refresh=True" class="btn btn-primary mr-1"><i class="fas fa-sync"></i> Refresh</a>
                    <button class="btn btn-success mr-1" type="submit"><i class="fas fa-filter"></i> Filter</button>
                    <select class="form-control mr-1" name="sf" id="sf">
                        <option value="last_post_time">Sort by Last post time</option>
                        <option value="first_post_time">Sort by First post time</option>
                        <option value="quest_time">Sort by Quest time</option>
                        <option value="total_thread">Sort by Thread count</option>
                        <option value="total_image">Sort by Image count</option>
                        <option value="total_post">Sort by Post count</option>
                        <option value="total_fanart">Sort by Fanart count</option>
                        <option value="ratio">Sort by Image / Text ratio</option>
                        <option value="name">Sort by Title</option>
                        <option value="short_name">Sort by Short name</option>
                        <option value="id">Sort by ID</option>
                    </select>
                    <select class="form-control mr-1" name="sd" id="sd">
                        <option value="desc">Descending</option>
                        <option value="asc">Ascending</option>
                    </select>
                    <select class="form-control mr-1" name="limit" id="limit">
                        <option value="20">Show 20</option>
                        <option value="50">Show 50</option>
                        <option value="100">Show 100</option>
                        <option value="200">Show 200</option>
                        <option value="0">Show all</option>
                    </select>
                </div>
            </form>
            <hr class="mt-2">
            <div class="list-container m-1">
                {% for cyoa in ls_cyoa %}
                <div class="card bg-l15-darkblue">
                    <div class="card-image img-container">
                        <img src="{{cyoa['image_link']}}" alt="{{cyoa['name']}}">
                    </div>
                    <div class="card-content p-1">
                        <h3 class="title">{{cyoa['name']}}</h3>
                        <div class="description">
                            {{cyoa['description']}}
                        </div>
                        <div class="status">
                            <div class="date">
                                <i class="fas fa-calendar-alt fg-l10-warning"></i> {{cyoa['first_post_date_str']}} <i class="fas fa-arrow-right fg-l10-warning"></i> {{cyoa['last_post_date_str']}}
                            </div>
                            <div class="stat ">
                                <i class="fas fa-book fg-l10-warning"></i> {{cyoa['total_thread']}}
                            </div>
                            <div class="ratio" title="Image / Text ratio">
                                <div class="image" style="width:{{cyoa['total_image_per']}}"></div>
                                <div class="value"><i class="fas fa-image"></i> {{cyoa['total_image']}} / {{cyoa['total_post'] - cyoa['total_image']}} <i class="fas fa-align-left"></i></div>
                            </div>
                        </div>
                        <div class="tag">
                            {% for tag in cyoa.get_ref('tags', order_by=['sort_index', 'asc']) %}
                            <a class="tag-item {{tag['tag']['color']}}">{{tag['tag']['name']}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

