{% extends "base.html" %}
{% block title %}CYOA Browser - Index{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/cyoa.css">
{% endblock extracss %}
{% block extrajs %}
    <script>
        // var form = {
        //     page: {{form['page']}}
        // };
    </script>
    <script src="/static/js/cyoa.js"></script>
{% endblock extrajs %}
{% block body %}
    <div class="bg-darkblue">
        <div class="container-lg bg-d10-darkblue py-2">
            <h1 class="text-center">CYOA List</h1>
            <hr class="mb-2">
            <form id="form-filter" class="d-block mx-2" action="/cyoa">
                <h2>Filter</h2>
                <input class="form-control w-100" name="q" type="text" placeholder="Search tag, title" value="{{form['q']}}">
                <div class="control-group mt-1">
                    <button class="btn btn-success mr-1 order-xsm-last" type="submit"><i class="fas fa-filter"></i> Filter</button>
                    <select class="form-control mr-1" name="sf" id="sf">
                        <option value="last_post_time" {{form.option_selected('sf', 'last_post_time')}}>Sort by Last post time</option>
                        <option value="first_post_time" {{form.option_selected('sf', 'first_post_time')}}>Sort by First post time</option>
                        <option value="quest_time" {{form.option_selected('sf', 'quest_time')}}>Sort by Quest time</option>
                        <option value="total_thread" {{form.option_selected('sf', 'total_thread')}}>Sort by Thread count</option>
                        <option value="total_image" {{form.option_selected('sf', 'total_image')}}>Sort by Image count</option>
                        <option value="total_post" {{form.option_selected('sf', 'total_post')}}>Sort by Post count</option>
                        <option value="total_fanart" {{form.option_selected('sf', 'total_fanart')}}>Sort by Fanart count</option>
                        <option value="ratio" {{form.option_selected('sf', 'ratio')}}>Sort by Image / Text ratio</option>
                        <option value="name" {{form.option_selected('sf', 'name')}}>Sort by Title</option>
                        <option value="short_name" {{form.option_selected('sf', 'short_name')}}>Sort by Short name</option>
                        <option value="id" {{form.option_selected('sf', 'id')}}>Sort by ID</option>
                    </select>
                    <select class="form-control mr-1" name="sd" id="sd">
                        <option value="desc" {{form.option_selected('sd', 'desc')}}>Descending</option>
                        <option value="asc" {{form.option_selected('sd', 'asc')}}>Ascending</option>
                    </select>
                    <input type="hidden" name="perpage" value="{{form['perpage']}}">
                    <input type="hidden" name="page" value="{{form['page']}}">
                </div>
            </form>
            <hr class="my-2">
            <div class="control-group px-2">
                <button id="btn-refresh" class="btn btn-primary mr-1" title="Refresh" onclick="refreshCyoaData()"><i class="fas fa-sync"></i></button>
                <div class="control-group-round">
                    <button class="btn btn-primary"><i class="fas fa-chevron-double-left"></i></button>
                    <button class="btn btn-primary"><i class="fas fa-chevron-left"></i></button>
                    <button id="btn-goto-page" class="btn btn-primary" onclick="showPageDialog({{ls_cyoa.page_num}}, {{ls_cyoa.page_count}})">Page {{ls_cyoa.page_num}} of {{ls_cyoa.page_count}}</button>
                    <button class="btn btn-primary"><i class="fas fa-chevron-right"></i></button>
                    <button class="btn btn-primary"><i class="fas fa-chevron-double-right"></i></button>
                </div>
                <select id="select-perpage" class="form-control ml-1" name="perpage" id="perpage" onchange="changePerpage()">
                    <option value="20" {{form.option_selected('perpage', 20)}}>Show 20</option>
                    <option value="50" {{form.option_selected('perpage', 50)}}>Show 50</option>
                    <option value="100" {{form.option_selected('perpage', 100)}}>Show 100</option>
                    <option value="200" {{form.option_selected('perpage', 200)}}>Show 200</option>
                    <option value="0" {{form.option_selected('perpage', 0)}}>Show all</option>
                </select>
                <div id="page-stat" class="pl-2">Showing {{ls_cyoa.data|length}} of {{ls_cyoa.total_count}}</div>
            </div>
            <hr class="mt-2">
            <div class="list-container m-1">
                {% for cyoa in ls_cyoa.data %}
                <div class="card bg-l15-darkblue">
                    <a class="card-image img-container" href="/cyoa/quest/{{cyoa['short_name']}}">
                        <img src="{{cyoa['image_link']}}" alt="{{cyoa['name']}}">
                    </a>
                    <div class="card-content p-1">
                        <h3 class="title">
                            {% if cyoa['is_live'] == 1 %}
                            <a class="tag-item bg-l5-danger" href="?{{form.get_form_query({'q': 'is_live=1'}, ['page', 'refresh'])}}">LIVE</a>
                            {% endif %}
                            
                            <a class="name" href="/cyoa/quest/{{cyoa['short_name']}}">{{cyoa['name']}}</a>
                        </h3>
                        <div class="description mb-1">
                            {{cyoa['description']}}
                        </div>
                        <div class="status">
                            <div class="stat">
                                <i class="fas fa-link fg-l10-warning"></i> {{cyoa['chan']}} - {{cyoa['board']}}
                                <i class="fas fa-link fg-l10-warning ml-1"></i> <a class="fg-white" href="https://www.anonpone.com/quest/{{cyoa['short_name']}}" target="_blank">{{cyoa['short_name']}}</a>
                            </div>
                            <div class="date">
                                <i class="fas fa-calendar-alt fg-l10-warning"></i> {{cyoa['first_post_date_str']}} <i class="fas fa-arrow-right fg-l10-warning"></i> {{cyoa['last_post_date_str']}}
                            </div>
                            <div class="stat mb-1">
                                <i class="fas fa-book fg-l10-warning"></i> {{cyoa['total_thread']}}
                                <i class="fas fa-file fg-l10-warning ml-1"></i> {{cyoa['total_post']}}
                                <i class="fas fa-align-left fg-l10-warning ml-1"></i> {{cyoa['word_count']}}
                                <i class="fas fa-image fg-l10-warning ml-1"></i> {{cyoa['total_fanart']}}
                            </div>
                            <div class="ratio" title="Image / Text ratio">
                                <div class="image" style="width:{{cyoa['total_image_per']}}"></div>
                                <div class="value"><i class="fas fa-image"></i> {{cyoa['total_image']}} / {{cyoa['total_post'] - cyoa['total_image']}} <i class="fas fa-align-left"></i></div>
                            </div>
                        </div>
                        <div class="tag">
                            {% set lsstat = [['error', 'bg-danger'], ['active', 'bg-d5-info'], ['complete', 'bg-d5-success'], ['hiatus', 'bg-d5-warning'], ['cancelled', 'bg-danger'], ['hidden', 'bg-d15-danger']] %}
                            <a class="tag-item {{lsstat[cyoa['status']][1]}}" href="?{{form.get_form_query({'q': 'status=%d' % cyoa['status']}, ['page', 'refresh'])}}">{{lsstat[cyoa['status']][0]}}</a>
                            {% for tag in cyoa['tags'] %}
                            <a class="tag-item {{tag['tag']['color']}}" href="?{{form.get_form_query({'q': tag['tag']['name']}, ['page', 'refresh'])}}">{{tag['tag']['name']}}</a>
                            {% endfor %}
                            {% if cyoa['steath_lewd'] %}
                            <a class="tag-item bg-pink" href="?{{form.get_form_query({'q': 'lewd_exist=1'}, ['page', 'refresh'])}}">lewd exist</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

