{% extends "base.html" %}
{% block title %}{{cyoa['name']}} - {{thread['title'] if thread['title'] not in ['', None] else '#%d' % thread['id']}}{% endblock %}
{% block extracss %}
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/cyoa.css">
{% endblock extracss %}
{% block extrajs %}
    <script src="/static/js/cyoa.js"></script>
{% endblock extrajs %}
{% block body %}
    <div class="bg-darkblue">
        <div class="container-lg bg-d25-darkblue py-2">
            {% for post in ls_post %}
            <div class="px-1 pb-1">
                <div id="p{{post['id']}}" data-id="{{post['id']}}" class="post card-inline bg-dark{{' border-warning border-2' if post['is_qm'] == 1 else ''}}{{' border-success border-2' if post['is_qm'] != 1 and post['username'] == thread['op_name'] and thread['op_name'] != 'Anonymous' else ''}}">
                    <div class="card-header bg-d10-darkblue">
                        <div class="info">
                            <span class="username">{{post['username']}}</span>
                            {% if post['tripcode'] != None %}
                            <span class="trip">{{post['tripcode']}}</span> 
                            {% endif %}
                            {% if post['title'] != None %}
                            <span class="title">{{post['title']}}</span> 
                            {% endif %}
                            <span class="id">No.{{post['id']}}</span> 
                            <span class="date">{{post['post_date_str']}}</span>
                        </div>
                        <div class="reply-by">
                            {% for rep in post['reply_by'] %}
                            <div class="control-group-round btn-reply">
                                <button class="btn btn-{{'warning' if rep['reply']['is_qm'] == 1 else 'primary'}}">&gt;&gt;{{rep['reply_id']}}</button>
                                <a class="btn btn-{{'warning' if rep['reply']['is_qm'] == 1 else 'primary'}}" href="#p{{rep['reply_id']}}">#</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-content bg-dark">
                        {% if post.get_ref('images', save_result=True)|length > 0 %}
                        <div class="card-image mb-1 mr-2" data-id="{{post['id']}}">
                            <div class="img-container">
                                <img src="{{post['images'][0]['link']}}" alt="{{post['images'][0]['filename']}}" title="{{post['images'][0]['filename']}}">
                            </div>
                            {% if post['images']|length > 1 %}
                            <div class="image-alt">
                                {% for img in post['images'] %}
                                <div class="alt">
                                {{img['alt_name']}}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <div class="image-filename">
                                {{post['images'][0]['filename']}}
                            </div>
                        </div>
                        {% endif %}
                        <div class="card-text">
                            {{post['comment_html']|safe}}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

