$shadow: #00000069;

$primary: #2b83e7;
$secondary: #818181;
$warning: #e9a321;
$danger: #ce4848;
$success: #46b842;
$info: #22b979;

$pink: #d84dba;
$darkblue: #4b43b4;

$light: #cacaca;
$dark: #313131;

$size-xlarge: 1440px;
$size-large: 1120px;
$size-medium: 960px;
$size-small: 720px;
$size-portrait: 480px;

$colors: (
    "primary": $primary, 
    "secondary": $secondary, 
    "success": $success, 
    "warning": $warning, 
    "danger": $danger, 
    "info": $info, 
    "light": $light, 
    "dark": $dark, 
    "pink": $pink, 
    "darkblue": $darkblue
);

$dev-size: (
    "xsm": $size-portrait, 
    "sm": $size-small, 
    "md": $size-medium, 
    "lg": $size-large, 
    "xlg": $size-xlarge
);

$color-booru: linear-gradient(48deg, #e12eae, #a618d6);

a {
    color: $primary;
}

.nav-booru {
    background: $color-booru;
    color: white !important;
    & .nav-expandable {
        @media (max-width: $size-small) {
            background: $pink !important;
        }
    }
    & .nav-title, & .nav-title * {
        color: white !important;
    }
    & .nav-item:not(.disabled) {
        // background-color: $color-cyoa-thread !important;
        color: white !important;
        cursor: pointer;

        &:hover:not(.disabled) {
            background: fade-out(white, 0.8) !important;
            color: white !important;
        }
    }         
}

.list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;

    @media (min-width: $size-small) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $size-medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $size-large) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: $size-xlarge) {
        grid-template-columns: repeat(5, 1fr);
    }
}

.galery-image {
    > .card-header {
        padding: 0.125rem 0.25rem;
        
        * {
            font-size: 10pt;
        }
    }
}

#page-stat {
    display: flex;
    align-items: center;

    @media (max-width: $size-portrait) {
        flex-grow: 1;
        padding-left: 0 !important;
        justify-content: center;
    }
}

.order-xsm-last {
    @media (max-width: $size-portrait) {
        order: 5;
        flex-grow: 1;
        margin-top: 0.5rem;
        margin-right: 0 !important;
    }
}

.fs-xsm {
    @media (max-width: $size-portrait) {
        font-size: 11pt;
    }
}

.grow-xsm {
    @media (max-width: $size-portrait) {
        flex-grow: 1;
    }
}

.booru-tag {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: white;
    border: 2px gray solid;
    background-color: rgb(36, 36, 36);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &.tag-type {
        border: 2px rgb(48, 182, 86) solid;
        background-color: rgb(46, 135, 17);
    }

    &.tag-artist {
        border: 2px rgb(48, 124, 182) solid;
        background-color: rgb(14, 37, 112);
    }

    &.tag-artpack {
        border: 2px rgb(122, 48, 182) solid;
        background-color: rgb(84, 16, 118);
    }

    &.tag-comic {
        border: 2px rgb(178, 48, 182) solid;
        background-color: rgb(118, 16, 104);
    }

    &.tag-oc {
        border: 2px rgb(182, 48, 126) solid;
        background-color: rgb(135, 17, 52);
    }

    &.tag-category {
        border: 2px rgb(169, 168, 168) solid;
        background-color: rgb(79, 78, 78);
    }
}

.img-display {
    max-width: 100%;
}

.markup {
    .quote {
        color: #1cbf1c;

        .spoiler {
            &:hover, &:focus {
                color: rgb(32, 157, 32);
            }
        }
    }

    .spoiler {
        background-color: black;
        color: black;

        a {
            background-color: darken($primary, 10%);
            color: darken($primary, 10%);

            &:hover, &:focus {
                color: white;
            }
        }

        &:hover, &:focus {
            color: white;
        }
    }
}

.galery-image {
    > a {
        position: relative;
        display: block;

        > .webm-bar {
            position: absolute;
            z-index: 15;
            left: 0px;
            right: 0px;
            top: 0px;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            font-weight: bold;
            text-decoration: none;
            padding: 0.25rem;
        }
    }
}