$shadow: #00000069;

$primary: #2b83e7;
$secondary: #818181;
$warning: #e9a321;
$danger: #ce4848;
$success: #46b842;
$info: #22b979;

$pink: #d84dba;
$darkblue: #4b43b4;

$size-xlarge: 1440px;
$size-large: 1120px;
$size-medium: 960px;
$size-small: 720px;
$size-portrait: 480px;

$lightness-threshold: 72;

@function highlight-overlay($color){
    @if (lightness($color) < $lightness-threshold) {
        @return fade-out(white, 0.8);
    } @else {
        @return fade-out(black, 0.8);
    }
}

@function btn-hover-color($color){
    @if (lightness($color) < $lightness-threshold){
        @return lighten($color, $hover-change);
    } @else {
        @return darken($color, $hover-change);
    }
}

@function color-from-bg($color) {
    @if (lightness($color) > $lightness-threshold) {
        @return black;
    } @else {
        @return white;
    }
}
a {
    color: lighten($color: $primary, $amount: 10%);
}

.list-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;

    &.thread-image {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $size-small) {
        grid-template-columns: repeat(2, 1fr);

        &.thread-image {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (min-width: $size-medium) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $size-large) {
        grid-template-columns: repeat(4, 1fr);

        &.thread-image {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    @media (min-width: $size-xlarge) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.cyoa.card {
    display: grid;
    grid-template-rows: 200px 1fr;
    align-items: stretch;

    // a {
    //     display: block;
    //     text-decoration: none;
    // }

    &-image {
        overflow: hidden;
        background-color: $darkblue;
    }

    &-content {
        display: grid;
        grid-template-rows: auto 1fr auto 50px;

        > .title {
            color: lighten($warning, 10%);
            line-height: 1.05;
            text-decoration: none;

            > .name {
                color: lighten($warning, 10%);
                text-decoration: none;
            }
        }

        > .description {
            font-size: 10pt;
            color: rgb(228, 228, 228);
        }

        > .status {
    
            > .date {
                color: white;
                font-size: 10pt;
            }
    
            > .stat {
                color: white;
                font-size: 10pt;
            }
        }
    }
}

.thread-image.card {
    overflow: hidden;
    background-color: $darkblue;
}

.thread.card {
    display: grid;
    grid-template-rows: 200px 1fr;
    align-items: stretch;

    &-image {
        overflow: hidden;
        background-color: $darkblue;
    }

    &-content {
        display: grid;
        grid-template-rows: auto 1fr;

        > .title {
            color: lighten($warning, 10%);
            line-height: 1.05;
            text-decoration: none;

            > .name {
                color: lighten($warning, 10%);
                text-decoration: none;
            }
        }

        > .status {
    
            > .date {
                color: white;
                font-size: 10pt;
            }
    
            > .stat {
                color: white;
                font-size: 10pt;
            }
        }
    }
}

.ratio {
    position: relative;
    display: block;
    background-color: $secondary;
    border-radius: 10px;
    overflow: hidden;
    font-size: 10pt;
    color: white;

    > .image {
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0px;
        width: 50%;
        background-color: $success;
    }

    > .value {
        display: block;
        text-align: center;
        z-index: 5;
        position: relative;
    }
}

.tag {
    margin-top: 4px;

    &-item {
        font-size: 10pt;
        font-weight: bold;
        padding: 1px 4px;
        margin-top: 4px;
        border-radius: 10px;
        display: inline-block;
        text-decoration: none;
    }
}

.cyoa-info {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: 0 1rem 1rem;

    @media (max-width: $size-portrait) {
        grid-template-columns: 1fr;
        padding: 0 .5rem 0.5rem;
    }

    > .image {
        border: 2px solid $secondary;
        max-height: 425px;

        &.saved {
            border: 2px solid $success;
        }
    }

    > .info {
        padding: 0 .75rem;

        @media (max-width: $size-portrait) {
            padding: 0 .1rem;
        }

        > .title {
            line-height: 1.05;
            margin-bottom: 0.5rem;
            color: lighten($color: $warning, $amount: 10%);

            @media (max-width: $size-portrait) {
                margin-top: 0.5rem;
                font-size: 18pt;
            }

            > .tag-item {
                font-size: 14pt;
                padding: 0.4rem;
                margin-top: 0;

                @media (max-width: $size-portrait) {
                    font-size: 12pt;
                    padding: 0.2rem;
                }
            }
        }

        > .stat {
            margin-top: 0.25rem;
        }

        > .ratio {
            font-size: 11pt;
            padding: 0.1rem;
        }
    }
}

#page-stat {
    display: flex;
    align-items: center;

    @media (max-width: $size-portrait) {
        flex-grow: 1;
        padding-left: 0 !important;
        margin-top: .5rem;
        justify-content: center;
    }
}

#select-perpage, #select-perpage-b {
    @media (max-width: $size-portrait) {
        margin-left: 0 !important;
        margin-top: .5rem;
    }
}

.order-xsm-last {
    @media (max-width: $size-portrait) {
        order: 5;
        flex-grow: 1;
        margin-top: 0.5rem;
        margin-right: 0 !important;
    }
}

.fs-xsm {
    @media (max-width: $size-portrait) {
        font-size: 11pt;
    }
}

.grow-xsm {
    @media (max-width: $size-portrait) {
        flex-grow: 1;
    }
}

.btn-reply {
    display: inline-flex;
    margin-right: 0.25rem;
    margin-bottom: 0.3rem;

    > .btn {
        padding: 0.05rem 0.5rem;

        &.shown {
            text-decoration: underline;
            font-weight: bold;
            background-color: $success;
        }

        &.invalid {
            text-decoration: line-through;
            // background-color: $secondary;
        }

    }
}

.post.card-inline {
    margin: 0;
    min-width: 350px;

    > .card-header {
        > .info {
            > .username {
                font-size: 12pt;
                font-weight: bold;
                color: rgb(255, 255, 82);
            }
            > .trip {
                font-style: italic;
                color: rgb(203, 255, 82);
                margin-left: 0.25rem;
            }
            > .title {
                font-weight: bold;
                color: rgb(22, 253, 80);
                margin-left: 0.25rem;
            }
            > .id {
                color: rgb(252, 172, 24);
                margin-left: 0.25rem;

                > a {
                    text-decoration: none;
                    color: rgb(252, 172, 24);
                }
            }
            > .date {
                margin-left: 0.2rem;
            }
        }
    }

    > .card-content {

        > .card-image {
            border: 2px solid $secondary;
            float: left;
            max-width: 25%;
            min-width: 200px;
            border-radius: 0px 0px 0.5rem 0.5rem;
            overflow: hidden;
            margin-bottom: 0.5rem;
            margin-right: 1rem;

            @media (max-width: $size-portrait) {
                float: none;
                margin: 0px;
                max-width: 100%;
                margin-bottom: 0.5rem;
            }

            &.expand {
                max-width: 100%;
                display: block;
            }

            > .image-filename {
                display: block;
                overflow-wrap: anywhere;
                background-color: $darkblue;
                color: white;
                padding: 0.25rem;
                text-align: center;
            }

            > .image-alt {
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
                background-color: rgb(2, 153, 153);

                > .alt-button {
                    display: block;
                    padding: 0.2rem 0.5rem;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.3);
                    }
                }
            }
        }

        > .card-text {
            overflow-wrap: anywhere;
            width: 100%;

            .quote {
                color: #20ff20;

                .spoiler {
                    &:hover, &:focus {
                        color: #20ff20;
                    }
                }
            }

            .spoiler {
                background-color: black;
                color: black;

                a {
                    background-color: darken($primary, 10%);
                    color: darken($primary, 10%);

                    &:hover, &:focus {
                        color: white;
                    }
                }

                &:hover, &:focus {
                    color: white;
                }
            }
        }
    }
}

.nav-progress {
    display: block;
    position: sticky;
    z-index: 100;
    top: 38px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);

    > .value {
        position: absolute;
        height: 10px;
        width: 0%;
        background: rgba(4, 248, 236, 0.6);
    }

    >.mark-container {
        position: absolute;
        height: 10px;
        width: 100%;

        > .post-mark {
            position: absolute;
            height: 10px;
            width: 6px;
            background: rgba(121, 39, 202, 0.8);
            z-index: 115;

            &.lewd-2 {
                border-top: 4px solid rgb(255, 130, 12);
                // border: 1px solid rgb(116, 57, 255);
            }
        }

        > .qm-mark {
            position: absolute;
            height: 10px;
            width: 6px;
            background: rgba(241, 218, 10, 0.8);
            z-index: 120;

            &.maybe {
                background: rgba(75, 241, 10, 0.8);
            }

            &.lewd-1 {
                // background: rgba(255, 147, 242, 0.857);
                border-top: 4px solid rgb(255, 66, 224);
            }

            &.lewd-2 {
                border-top: 4px solid rgb(255, 130, 12);
                // border: 1px solid rgb(116, 57, 255);
            }
        }
    }
}

$color-cyoa-thread: transparentize($color: #51c635, $amount: 0.2);
$color-cyoa: linear-gradient(48deg, #95cc14, #35c63c);

.nav-cyoa-thread {
    background: $color-cyoa-thread;
    backdrop-filter: blur(5px);
    color: color-from-bg($color-cyoa-thread) !important;
    & .nav-expandable {
        @media (max-width: $size-small) {
            background: $success !important;
        }
    }
    & .nav-title, & .nav-title * {
        color: color-from-bg($color-cyoa-thread) !important;
    }
    & .nav-item:not(.disabled) {
        // background-color: $color-cyoa-thread !important;
        color: color-from-bg($color-cyoa-thread) !important;
        cursor: pointer;

        &:hover:not(.disabled) {
            background: highlight-overlay($color-cyoa-thread) !important;
            color: color-from-bg($color-cyoa-thread) !important;
        }
    }         
}

.nav-cyoa {
    background: $color-cyoa;
    color: white !important;
    & .nav-expandable {
        @media (max-width: $size-small) {
            background: $success !important;
        }
    }
    & .nav-title, & .nav-title * {
        color: white !important;
    }
    & .nav-item:not(.disabled) {
        // background-color: $color-cyoa-thread !important;
        color: white !important;
        cursor: pointer;

        &:hover:not(.disabled) {
            background: fade-out(white, 0.8) !important;
            color: white !important;
        }
    }         
}

.image-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    overflow: hidden;

    &-control {
        position: absolute;
        left: 40px;
        top: 40px;
        padding: 4px;
        z-index: 1002;

        button > i {
            font-size: 12pt;
        }

        #image-control-zoom {
            width: auto;

            *:not(.value) {
                position: relative;
                z-index: 10;
            }

            
        }
    }

    &-main {
        display: flex;
        align-content: center;
        justify-content: center;
        height: 100%;

        .img-container {
            position: relative;
            width: unset;
            min-height: 90vh;
        }
    }
}