img {
    width: 100%;
    display: block;
}

.bottom-right {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    /* font-size: larger;
    font-weight: bold; */
    color: white;
}



