<div class="sidebar shadow-md" id="sidebar">
    <div class="sidebar-title fg-warning">
        <h1>TUPBA <b>II</b></h1>
    </div>
    <hr>
    <a href="/" class="sidebar-item">
        <i class="fas fa-home"></i> Homepage
    </a>
    <a href="/cyoa" class="sidebar-item">
        <i class="fas fa-book"></i> CYOA Brower
    </a>
    <a href="/rewatch" class="sidebar-item">
        <i class="fas fa-video"></i> MLP Rewatch stream
    </a>
    <a href="/booru" class="sidebar-item">
        <i class="fas fa-image"></i> Booru browser
    </a>
    <a href="/setting" class="sidebar-item">
        <i class="fas fa-cog"></i> Setting
    </a>
    <hr>
    <div id="socket" class="fg-warning p-1">
        <i class="fas fa-plug mr-1"></i> <span id="socket-stat">Socket: Connecting... </span>
    </div>
    <hr>
    <h3 class="task-title">TASKS</h3><span id="task-count" class="task-count">3 tasks</span>
    <div id="task-list" class="task-list mt-1 mx-1">
        <div class="task-item card bg-l10-darkblue mb-1">
            <div class="card-content">
                <div class="task-stat">
                    <div class="task-tag tag-cyoa">CYOA</div>
                    <div class="task-progress">100% (1000/1000)</div>
                </div>
                
                <div class="task-name">Download image: NORTHEN EXCURSION</div>
                <div class="progress-bar">
                    <div class="value bg-warning"></div>
                </div>
            </div>
        </div>
    </div>
</div>